<a href="https://colab.research.google.com/github/shahinVakilinia/Sequence-Prediction/blob/master/Coveo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
import pandas as pd
import io
import json 

# Opening JSON file 
uploaded = files.upload()

In [0]:
df = pd.read_json(io.BytesIO(uploaded['city_search.json']))
# with open('city_search.json', 'rb') as F:
#   X =json.load(F)

In [0]:
df.shape

(20022, 4)

In [0]:
df['user'] = df['user'].apply(lambda x: x[0][0])

#list(df['user'][:])[:][0]

In [0]:
#df['user']
df.head(10)

        session_id  ...                                               user
0  [X061RFWB06K9V]  ...  {'user_id': 2024, 'joining_date': '2015-03-22'...
1  [5AZ2X2A9BHH5U]  ...  {'user_id': 2853, 'joining_date': '2015-03-28'...
2  [SHTB4IYAX4PX6]  ...  {'user_id': 10958, 'joining_date': '2015-03-06...
3  [JBRB8MZGTX3M4]  ...  {'user_id': 7693, 'joining_date': '2015-03-12'...
4  [YJCMPURC2FL9C]  ...  {'user_id': 7506, 'joining_date': '2015-02-28'...
5  [LKOKP80QD6BEO]  ...  {'user_id': 3743, 'joining_date': '2015-03-04'...
6  [YOVUIM79SGS5Y]  ...  {'user_id': 8831, 'joining_date': '2015-03-02'...
7  [SHXEY67QWKP9K]  ...  {'user_id': 587, 'joining_date': '2015-03-16',...
8  [9P74JL5KMC9G9]  ...  {'user_id': 365, 'joining_date': '2015-03-22',...
9  [UY49RTVRX3GL7]  ...  {'user_id': 5995, 'joining_date': '2015-03-21'...

[10 rows x 4 columns]

In [0]:
df2 = pd.DataFrame(df["user"].to_list(), columns=list(df['user'][0].keys()))

In [0]:
df['unix_timestamp'].unique()

TypeError: ignored

In [0]:
#df.head(20)

df3 = pd.concat([df.drop('user', axis=1), df2], axis=1)

In [0]:
#df3.shape
len(df2['user_id'].unique())

#df4 = df3.groupby('user_id')['country'].apply(lambda x: "{%s}" % ', '.join(x))
df5 = df3.groupby('user_id')['cities'].apply(lambda x: "{%s}" % ', '.join(x.sum()))
#df3['country'].unique()

In [0]:
print(df5.head(2).tolist())

['{Vancouver BC, Toronto ON, Oshawa ON, Vancouver BC, San Antonio TX, Toronto ON}', '{New York NY, Toronto ON, Dallas TX, Los Angeles CA, Los Angeles CA, New York NY}']

In [0]:
from pandas.io.json import json_normalize
#normalized_df = json_normalize(df['user'])


def flattenColumn(input, column):
    column_flat = pd.DataFrame([[i, c_flattened] for i, y in input[column].apply(list).iteritems() for c_flattened in y], columns=['I', column])
    column_flat = column_flat.set_index('I')
    return input.drop(column, 1).merge(column_flat, left_index=True, right_index=True)
    
new_df = flattenColumn(df,'user')

In [0]:
new_df.columns.values

array(['session_id', 'unix_timestamp', 'cities', 'user'], dtype=object)

In [0]:
with open(io.BytesIO(uploaded['city_search (1).json']),'rb') as jsonFile:
  json.load(jsonFile)


#f = open(io.BytesIO(uploaded['city_search.json']),'w')

KeyError: ignored

In [0]:
#df = pd.read_csv()
# Python program to read 
# json file 
import io
import json 
  
# Opening JSON file 


f = open(io.BytesIO(uploaded['city_research.json'])) 
# returns JSON object as  
# a dictionary 
data = json.load(f) 
# Iterating through the json 
# list 
for i in data['emp_details']: 
    print(i) 
  
# Closing file 
f.close()

KeyError: ignored